#slot-machine {
  position: absolute;
  top: 0;
  left: -800px;
  background: #fefefe;
  transition: 0.3s left ease-in-out;
}
#slot-machine.show {
  left: 0;
}
#slot-machine iframe {
  border: none;
}
#close-icon {
  position: absolute;
  right: 13px;
  font-size: 40px;
  cursor: pointer;
}