<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @popup_submit.name %></h1>
    <p>
      Welcome mail sent using smtp.
    </p>
  </body>
</html>
