$x-alignment-offset : -880px;

#slot-machine {
  position   : fixed;
  background : #fefefe;
  z-index    : 9999999999999999;
  transition : 0.3s all ease-in-out;

  &.slot-machine-left {
    top        : 0;
    left       : $x-alignment-offset;

    &.show      { left : 0 }
    #close-icon { right : 22px; }
  }

  &.slot-machine-right {
    top        : 0;
    right      : $x-alignment-offset;

    &.show      { right : 0 }
    #close-icon { left : 22px; }
  }

  &.slot-machine-top {
    // alignment offset will be specified by javascript

    &.show      { top : 0 }
    #close-icon { right : 22px; }
  }

  &.slot-machine-bottom {
    // alignment offset will be specified by javascript

    &.show      { bottom : 0 }
    #close-icon { right : 22px; }
  }
}

#slot-machine iframe {
  border : none;
}

#close-icon {
  position    : absolute;
  font-size   : 40px;
  cursor      : pointer;
  line-height : 1;
}

// this style appends to body to prevent scrolling
.slot-machine-active {
  overflow : hidden;
}